.QuestionWrapper{
    margin-top: 10vh;
}

.QuestionWrapper h2{
    color: #444;
}

.QuestionWrapper ol{
    text-align: center;
    font-size: large;
}

.selected {
    background-color: rgb(255, 225, 186);
  }

  @media (orientation: landscape) {
    .QuestionWrapper {
      margin-top: 2dvh;
      padding: 2rem 3rem;
      padding-bottom: 5rem;
    }
  }
  