.resultContainer {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; 
  }
  .resultContainer h2{
    color: #333;
 }
  .resultContainer p{
     color: #666;
  }
  .card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
  }
  .good {
    border-left: 6px solid #28a745;
  }
  .average {
    border-left: 6px solid #ffc107;
  }
  .bad {
    border-left: 6px solid #dc3545;
  }
  